.flexslider.main-slider
  %ul.slides
    - current_site.the_post_type('slideshow').the_posts.visible_frontend.decorate.each do |slider|
      %li
        = image_tag slider.the_image_url, class: 'img-responsive'
.container
  .row
    .col.s12
      %h3
        %span.category-title New Arrival
    - (current_site.the_products.decorate).each_with_index do |product, index|
      .col.s12.m6.l3
        =link_to product.the_url do
          .card
            .card-image
              = image_tag product.the_thumb_url, class: 'img-responsive'
            .card-content
              .product-name
                %h5= product.the_title
              %span.price= product.the_price
  .row
    .col.s12
      %h3
        %span.category-title Best Sell
        .arrow
    - (current_site.the_post_type('commerce').the_posts.featured.decorate).each_with_index do |product, index|
      .col.s12.m6.l3
        =link_to product.the_url do
          .card
            .card-image
              = image_tag product.the_thumb_url, class: 'img-responsive'
            .card-content
              .product-name
                %h5= product.the_title
              %span.price= product.the_price
